<div class="container">
	<h1>about soberi</h1>
	<p>THIS IS NOT A REAL TEXT... OBVIOUSLY. Oat cake dessert lollipop halvah soufflé liquorice tart chocolate cake. Cotton candy marzipan candy dragée gummi bears biscuit. Carrot cake tart caramels icing soufflé. Oat cake fruitcake danish soufflé dessert.

	Brownie pudding liquorice biscuit tiramisu chocolate cake topping. Gummies liquorice gummies caramels lollipop fruitcake cookie tootsie roll gingerbread. Bonbon toffee sweet roll gummies tiramisu. Marshmallow candy tootsie roll tootsie roll halvah candy canes chocolate jujubes.</p>

	<p>Browse the <%= link_to 'gallery', products_path %> and see what you like. If you don't find what you're looking for, <%= link_to 'contact us here', simple_pages_contact_path %>.</p>
</div>

