<div class="row">
	<% @orders.each do |order| %>
		<div class="col-sm-6 col-md-4">
			<div class="container-fluid">
				<h4>
					order # <%= order.id %>:
					<%= link_to order.product.name, order %>
				</h4>
					<p><%= order.product.description %></p>
					<strong><%= number_to_currency(order.product.price.to_f, unit: "€") %></strong>
			</div>
		</div>
	<% end %>
</div>