// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font-stack: Tahoma, Verdana, Segoe, sans-serif;
$primary-color: #4b545a;
$secondary-color: #e4e6e8;

h3 {
	font-size: 20px;

	a {
		padding: 3px;		
		transition: 600ms;
	}
	
	a:hover{
		background-color: #5e6569;
		color: #f0f1f1;
		text-decoration: none;
	}
}

.row {
	margin: 0;
}

// product index page
.product-item {
	text-align: center;

	img {
		transition: 600ms;
		width: 100%;
	}

	img:hover {
  	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
	}
}

.product-info {
	background-color: #5e6569;
	color: #f0f1f1;
	padding: 10px 2px 5px 2px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px 0px rgba(95, 101, 105, 0.32);

	h3 {
		color: #f0f1f1;
		margin-top: 0;
	}

	a, a:visited {
		color: #f0f1f1;
		text-decoration: none;
		transition: 600ms;
		padding: 2px;
	}

	a:hover {
		color: #5e6569;
		background-color: #f0f1f1;

	}
}

//show product page
.product-image {
	padding: 20px;
}

// _form patial
.edit-form {
 text-align: center;
}

input, textarea {
	width: 50%;
}




