// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: Tahoma, Verdana, Segoe, sans-serif;
$primary-color: #4b545a;
$secondary-color: #e4e6e8;

html {
	font-family: $font-stack;
}

body {
	background-image: url('AS-background.jpg');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
	padding-top: 50px;

	a {
		text-decoration: none;
		color: $primary-color;
	}
}

.section-backdrop {
	background-color: rgba(255, 255, 255, 0.55);
	color: $primary-color;
	width: 100%;
}

.navbar-default {
	background-color: $primary-color;
	border-color: #52595d;
	border-radius: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 5px 0px rgba(95, 101, 105, 0.32);
	margin-bottom: 0;
} 

.navbar-default .navbar-nav>li {

	a {
  	color: $secondary-color;
  	background-color: $primary-color;
  	transition: 600ms;
	}

	a:hover {
		color: $primary-color;
  	background-color: $secondary-color;
	}

}

.navbar-brand {
	img {
  	position: absolute;
  	height: 51px;
  	top: 0px;
  	left: 30px;
  }

  	img:hover {
  		opacity: 0.8;
  	}
}

.navbar-form {
	margin-left: 55px;
	border: none;
	-webkit-box-shadow: inset 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
  box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);

	label {
		color: $secondary-color;
	}

	.btn {
		color: $primary-color;
		background-color: $secondary-color;
		transition: 600ms;
	}

	.btn:hover {
		color: $secondary-color;
		background-color: $primary-color;
	}
}

.alert,
.notice {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.page-section {
	margin-bottom: 50px;
	margin-top: 50px;
}

h1 {
	font-weight: 350;
	text-align: center;
}

h2 {
	font-weight: 300;
	text-align: center;
}

h3 {
	text-align: center;
}

.container {
	padding: 0;
}

.carousel-caption {
	bottom: 20%;

	a{
		color: $secondary-color;
	}
}

.carousel-indicators {
	bottom: 20%;
	
	li {
		color: $secondary-color;
		box-shadow: 0 1px 2px rgba(0,0,0,.6);
	}

	.active {
		background-color: $secondary-color;
	}
}

.carousel-control {
	transition: 800ms;
}

.carousel-control:hover {
	transition: 800ms;
	opacity: 0.3;
}

.first-contact {
	
	button {
		background-color: $primary-color;
		color: $secondary-color;
		display: inline-block;
		position: relative;
		width: 270px;
		border: none;
		font-size: 1.5em;
		padding: 20px;
		margin: 5px;

		a {
		  color: $secondary-color;
		  text-decoration: none;
			transition: 600ms;
		}

		a:after {
  		content: '\00bb';
  		position: absolute;
  		opacity: 0;
  		top: 11px;
    	right: 25px;
    	font-size: 1.5em;
  		transition: 600ms;
		}
	}	

	button:hover a {
		padding-right: 25px;
	}
		
	button:hover a:after {
		opacity: 1;
		right: 45px;
	}	
}

.about-section,
.comment-section {
	background-color: $secondary-color;
	padding: 20px;
}

footer {
	background-color: $primary-color;
	color: $secondary-color;
	text-align: center;
	padding-top: 15px;
	height: 50px;
	box-shadow: 0px -2px 5px 0px rgba(95, 101, 105, 0.32);
}

.panel {
	margin: 20px;
	padding: 20px;
	color: $primary-color;
	background-color: $secondary-color;
}
