<div class="container-fluid">

<% if signed_in? %>
	<h3>So... what do you think?</h3>
	<%= form_for([@product, @product.comments.build]) do |f| %>
		<p>
			<%= f.label :body, "Comments" %><br>
			<%= f.text_area :body %>
		</p>
		<p>
			<div class="rating"></div>
		</p>
		<p>
			<%= f.submit "Submit", class: "form-btn" %>
		</p>
	<% end %>
<% end %>

</div>