<p id="notice"><%= notice %></p>

<h1>products</h1>
<h3><%= link_to 'add new product', new_product_path %></h3>

<div class="container-fluid">
  <div class="row"> 
    <%= render @products %>
  </div>  
</div>




