<!DOCTYPE html>
<html>
  <head>
    <%= render 'simple_pages/head' %>
  </head>

  <body>

		<%= render 'simple_pages/nav' %>
    
    <div class="container section-backdrop">
      <%= yield %>
    </div>
    
    <footer>
    	&copy; 2017 soberi
    </footer>

  </body>
</html>
